dec.yuv
rec.yuv
str.bin
/build/
/bin/
/lib/
core
deploy
*.sdf
*.suo
.vs/
.vscode/
*.blg
*.bbl
*.pyc
/out/
/doc/_minted-software-manual/
# Experimental files
*.yuv
*.log
nohup.out
*.bit
*.tmp
*.swp
__pycache__/
# Windows metadata
*:Zone.Identifier
